#editorIntroduction {
  @media (min-width: $screen-sm-min) {
    .modal-dialog {
      width: 60%;
    }
  }
}

#ory-editor-meta-data-wrapper {
  clear: both;
  padding-top: $contentPadding;
}

#ory-editor-meta-data {
  background-color: #ffffff;
  padding: $contentPadding;
}

.ory-content {
  border: 1px solid black;
}