/* Base Styles -------------------- */


html  {
	font-size: 16px;
}

body {
	font-family: Karla;
	font-weight: 400;
	line-height: 1.35;
	letter-spacing:-0.01em;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 700;
}