/*
static css file still seems to be the best option to import fonts

see bug:
https://github.com/styled-components/styled-components/issues/1593
*/

@font-face {
  font-family: 'Karmilla';
  font-style: normal;
  font-weight: 400;
  src: url('/static/karmilla-regular.woff2') format('woff2'),
    url('/static/karmilla-regular.woff') format('woff');
}

@font-face {
  font-family: 'Karmilla';
  font-style: normal;
  font-weight: 700;
  src: url('/static/karmilla-bold.woff2') format('woff2'),
    url('/static/karmilla-bold.woff') format('woff');
}
