name: PHP
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  php-cs-fixer:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - 7.0.33
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: dom, mbstring
      - run: (cd packages/public/server/dev-tools && composer install --no-interaction --dev --prefer-dist)
      - run: (cd packages/public/server && dev-tools/vendor/bin/php-cs-fixer fix --config=php-cs-fixer.config.php --dry-run)
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version:
          - 7.0.33
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php-version }}
          extensions: dom, mbstring
      - run: (cd packages/public/server && composer install --no-interaction --dev --prefer-dist)
      - run: (cd packages/public/server && src/vendor/bin/phpunit)
